body{
    /* vh -> viewport height. */
    height: 100%;
    margin: 0;
    font-family: 'Great Vibes', cursive;
}

svg{
    color: white;
}

.center{
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.row{
    background-color: black;
    height: 100%;
}

.left-container{
    display: flex;
    flex-direction: column;
    padding-left: 80px;
}

img{
    height: 35px;
    width: 35px;
    margin: 24px 0;
}

.left-menu{
    margin: 16px 0;
    color: white;
    font-size: larger;
}

.search-settings{
    margin: 20px 0 0 34px;
}

.search-wrapper{
    padding: 4px 18px;
    background-color: rgb(32, 35, 39);
    margin-top: 6px;
    border-radius: 24px;
    display: flex;
    width: 90%;
    height:fit-content;
}

.search-icon{
    margin: 12px 0 0 16px;
    color: white;
}

.search-box{
    padding: 4px 12px;
    outline: none;
    width: 100%;
    border: none;
    height:42px;
    color: white;
    /* border-radius: inherit; */
    background-color: inherit;
}

a{
    color: gray !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: inherit;
    border: none;
    color: grey !important;
}

.nav-tabs{
    border-bottom: none !important;
}

.banner-img{
    background-attachment: fixed !important;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    background-size: 100%;
    height: 320px;
    background: url("https://pbs.twimg.com/media/FBwJ-CpVUAIQEC5.jpg");
    padding: 12px;

}

.top-news{
    display: flex;
    height: 120px;
    color: white;
    padding: 16px;
    margin-bottom: 36px;
}

/* Select all p descendants */
.top-news p:nth-child(1), .top-news p:nth-child(3){
    color: grey;
    font-size: smaller;
}

.top-news img {
    border-radius: 12px;
}

.top-news p:nth-child(2){
    color: white;
    font-size: large;
}

.footer-row{
    display: flex;
}

.footer{
    background-color: rgb(29, 155, 240);
    height: 70px;
    position: fixed;
    width: 100%;
    bottom:0
}

.footer-center p:nth-child(1){
    color: white;
    font-size: x-large;
    margin: 0;
}

.footer-center p:nth-child(2){
    color: white;
    font-size: small;
    margin: 0;
}

.footer-row div:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    border-radius: 16px;
}

.login{
    color: white;
    background-color: transparent;
    border: 1px solid whitesmoke;
    margin: 0 12px;
}

.signup{
    background-color: white;
    color: black;
    margin: 0 12px;
}

.card{
    margin: 6px;
    background-color: transparent;
    border: 0.5px solid grey;
    border-radius: 12px;
    color: white;
    padding: 8px;
    widows: 100%;
}

.subtitle{
    font-size: x-small;
    color: gray;
}

.btn-signup{
    width: 100%;
    height: 42px;
    border-radius: 25px;
    margin: 6px 0;

}

.msg{
    color: gray;
    font-size: small;
}

.footer-a{
    color: powderblue !important;
}